<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalReceta">
   Añadir nueva receta
  </button>
  
<!-- Modal -->
    <div class="modal fade" id="modalReceta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id ="btn-close" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nueva receta</h4>
                </div>
            <div class="modal-body">
                <p>Valores: {{formulario.value | json}}</p>
                <p>Estado:  {{formulario.status| json}} </p>

<!-- Input Nombre -->      
       
    <form [formGroup]="formulario" (ngSubmit)="submitar($event)" novalidate>
        <div class="row">

            <div class="col-md-6 col-sm-6">
                    <div class="form group form-inline">
                        <div [ngClass]="estilosInput(formulario.controls.nombre)" >                    
                            <label for="nombre">Nombre:</label>
                            <input formControlName="nombre" placeholder="Nombre" class="inpNombre">
                            <p *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched"  class="text-danger">Obligatorio 2 letras minimo.</p>
               
                        </div>
                    </div>
                
<!-- Input Cocinero -->           
                <div class="form group form-inline">                
                    <div [ngClass]="estilosInput(formulario.controls.cocinero)">
                        <label for="Cocinero">Cocinero:</label>
                        <input formControlName="cocinero" placeholder="Cocinero">
                        <p *ngIf="formulario.controls.cocinero.invalid && formulario.controls.cocinero.touched"  class="text-danger">Obligatorio 5 letras minimo.</p>
                
                    </div>
                </div>    



<!-- RadioButtons -->
                <hr>                 
                <div class="form-group">
                        <label for="gluten">¿La receta que quieres crear contiene gluten?:</label>
                        <input type="radio" formControlName="gluten" value="true">Si
                        <input type="radio" formControlName="gluten" value="false">No                    
                    </div> 

<!-- Ingredientes -->
                <label for="">Ingredientes </label>
                <a (click)="clickOtroIngrediente()">Añadir Ingrediente</a>
                    <div formArrayName="ingredientes"
                        *ngFor="let ingrediente of formulario.get('ingredientes').controls; let i = index;">                    
                        <div [formGroupName]="i">
                            <input formControlName="nombre" placeholder="Nuevo Ingrediente" class="ingrediente-input">                        
                            <span class="glyphicon glyphicon-remove-circle" (click)="clickEliminarIngrediente(i)"></span>
                        </div>                   
                    </div>
            </div> <!-- cierre col  -->

<!-- Imagen receta --> 
            <div class="col-md-6 col-sm-6"> 
                    <img [src]="formulario.controls.imagen.value" class= "imgModal" [alt]="formulario.controls.nombre.value"> 
                    <!--   <img src="imagen" class="imgModal" alt="Responsive image"/> -->
                    <!-- <img src="./assets/img/ensalada.jpg" class="imgModal" alt="Responsive image"/> -->
                <div class="form-group form-inline">
                    <label for="imagen">Imagen: </label>
                    <input formControlName="imagen" id="imagen" class="form-control">
                    <p *ngIf="formulario.controls.imagen.invalid && formulario.controls.imagen.touched" class="text-danger">La imagen es obligatoria</p>                                    
                </div>
            </div> 
                   
        </div>   <!-- cierre row  -->


<!-- Textarea: descripción -->
                <h3>Descripción</h3>
                    <p>Añade los ingredientes necesarios para crear tu receta:</p>
                <form>
                    <div class="form-group">
                        <label for="comment">(minimo 100 caracteres)</label>
                        <textarea formControlName="descripcion" maxlength="500" class="form-control"></textarea>
                            <p *ngIf="formulario.controls.descripcion.invalid && formulario.controls.descripcion.touched" class="text-danger">*Obligatorio, mínimo 100 letras</p>

                    </div>
                </form>
                    
   
<!-- Botón submit -->
                <input type="submit" [disabled]="!formulario.valid" value="Crear" class="btn btn-success btn-block">
               
            </form>
        </div> 
        </div>        
      </div>
    </div>
  
