p{
    font-size: 0.1em;
}
h3{
    font-size: 4em;
}
.thumbnail{
    position:relative;

    .logo{
        position:absolute;
        width: 45px;
        height: 45px;
        right: 10px;
        top:10px;

    }
    p{
        font-size: 1em;
    }

    span.label{
        float: right;
        margin-top:5px;
    }
    span.cocinero{
           font-weight:  600;
    }
    .ingredientes{
        h4{
            text-align: center;
            font-size: 1.2em;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
        }
    }
}