<div class="container">
     
    <!-- Formulario con ventana modal -->
    
    <app-formulario></app-formulario>
    
    <!-- Buscador de recetas -->
        <div class="input-group" id="buscadorRecetas">   
          <input type="text" class="form-control" placeholder="Busca receta por nombre, cocinero o ingredientes" [(ngModel)]="searchText">
          <span class="input-group-addon glyphicon glyphicon-search"></span>
        </div>

<nav aria-label="Recetario">
  <ul class="pagination">
      <li *ngFor="let receta of recetas" [class.active]="receta==receta1" (click)="seleccionarReceta(receta)">
      <a>{{receta.nombre}} </a>
    </li>
    </ul>
</nav>

<div class="row">
  <div class="col-md-2">
      <div class="panel panel-default">
          <div class="panel-heading">
             <h3>Listado Recetas</h3>   
          </div>
      <div class="panel body">
          <ul>
              <li *ngFor="let receta of recetas"
                  (click)="seleccionarReceta(receta)">{{receta.nombre}}</li>
            </ul>  
      </div>
  
  </div>
</div>


  <div class="col-xs-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Detalle Receta</h3>
            <app-detalle [receta]="recetaSelec"
                                (eventoEmitir)="recibirReceta($event)" ></app-detalle>
        </div>  
     </div>
  </div>
</div>  
<!-- <div class="row"> -->
